.signup_form {
    padding-top: 22px;
}

.signup_input-label {
    height: 18px;
    text-align: left;
    font-size: 14px !important;
    letter-spacing: 0px !important;
    color: #0A0102 !important;
    text-transform: capitalize;
    opacity: 1;
}

.signup_form-input {
    margin-bottom: 15px !important;
}

.signup_textfield input {
    box-sizing: border-box !important;
    height: 35px !important;
}

.signup_form button {
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 3px;
    margin-top: 7px;
    opacity: 1;
    text-transform: none;
}